* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    padding-top: 60px;
}
html {
    scroll-behavior: smooth;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #111;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    box-sizing: border-box;

    z-index: 1000;
}
.logo img {
    height: 40px;
}
/*navigation*/
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #aaa;
}

/*BUTTON*/
button {
    cursor: pointer;
    font-family: inherit;
}

.hidden {
    display: none !important;
}